<!DOCTYPE html>
<html>
    <head>
        <title>레이아웃</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="layout_quiz02_style.css">
    </head>
    <body>
        <div class="wrap">
            <header></header>
            <section class="contents flex">
                <aside></aside>
                <section class="right"></section>
            </section>
            <footer class="flex">
                <div class="leftblock"></div>
                <address></address>
                <div class="rightblock"></div>
            </footer>
        </div>
    </body>
</html>