<!DOCTYPE html>
<html>
    <head>
        <title>레이아웃 구조</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="mid_layout_style.css">
    </head>
    <body>
        <div id="wrap">
            <header class="flex">
                <div class="logo">로고 자리</div>
                <nav>메뉴 자리</nav>
            </header>
            <section class="contents flex">
                <section class="content1">content1</section>
                <aside>
                    <article class="art1">article1</article>
                    <article class="art2">article2</article>
                </aside>
            </section>
            <footer class="flex">
                <div class="logo1">footer logo1</div>
                <address>copyright</address>
                <div class="logo2">footer logo2</div>
            </footer>
        </div>
    </body>
</html>