<!DOCTYPE html>
<html>
    <head>
        <title>레이어 다루기</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="quiz01_style.css">
    </head>
    <body>
        <div class="divhead">
            <div class="flex">
                <div class="box-size-100-1"></div>
                <div class="box-size-100-2"></div>
            </div>
            <div class="flex">
                <div class="box-size-100-3"></div>
                <div class="box-size-100-4"></div>
            </div>
        </div>
        <div class="blank"></div>
        <div class="divhead">
            <div class="flex1">
                <div class="box-size-100-1" id="div1"></div>
                <div class="box-size-100-2"></div>
            </div>
            <div class="flex1">
                <div class="box-size-100-3" id="div2"></div>
                <div class="box-size-100-4"></div>
            </div>
        </div>
        <div class="divhead">
            <div class="flex2">
                <div class="box-size-100-1" id="div3"></div>
                <div class="box-size-100-2"></div>
            </div>
            <div class="flex2">
                <div class="box-size-100-3" id="div4"></div>
                <div class="box-size-100-4"></div>
            </div>
        </div>
    </body>
</html>