<!DOCTYPE html>
<html>
    <head>
        <title>가운데 레이아웃</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="ex03_style.css">
    </head>
    <body>
        <div id="wrap">
            <header></header>
            <nav></nav>
            <section class="contents flex">
                <section class="left">
                    <article class="at1"></article>
                    <article class="at1"></article>
                </section>
                <aside></aside>
            </section>
            <footer></footer>
        </div>
    </body>
</html>